<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIRMACION</title>
    <link rel="stylesheet" href="../css/pedido.css">

</head>
<body>
  <div class="confirmacion-container">
    <h1>Confirmación de Pedido</h1>

    <p><strong>Pedido Nº:</strong> <%= pedido.id_pedido %></p>
    <p><strong>Cliente:</strong> <%= pedido.cliente %></p>
    <p><strong>Fecha:</strong> <%= pedido.fecha.toLocaleString() %></p>
    <p><strong>Total:</strong> S/ <%= pedido.total %></p>

    <p><strong>Método de Pago:</strong> <%= metodo_pago %></p>
<p><strong>Método de Entrega:</strong> 
  <%= metodo_entrega === 'delivery' ? 'Delivery' : 'Recojo en tienda' %>
</p>

    
    <h2>Detalle del Pedido</h2>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% detalles.forEach(item => { %>
          <tr>
            <td><%= item.nombre %></td>
            <td><%= item.cantidad %></td>
            <td>S/ <%= item.precio_unitario %></td>
            <td>S/ <%= (item.precio_unitario * item.cantidad).toFixed(2) %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <a href="/">Inicio</a>
    <a href="/pedido/<%= pedido.id_pedido %>/comprobante?metodo_pago=<%= metodo_pago %>&metodo_entrega=<%= metodo_entrega %>" target="_blank" class="pdf-btn">Descargar Comprobante PDF</a>

  </div>
</body>


</html>